@media screen and (min-width:1280px){
.one{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
   
}
.first{
    box-shadow: 0 0 10px;
    border-radius: 30px;
    width: 369px;
    height: 352px;
    
}
.first-last{
    box-shadow: none;
}
img{
    width: 369px;
    height: 150px;
   
}

h4{
    font-size: 30px;
    padding-left: 20px;
  
}

p{
    font-size: 26px;
    padding-left: 24px;
}
h1{
 /* height: 93px;
width: 905px; */
margin-left: 100px;
/* top: 3246px; */


}
.text-last p{
    margin-top: -26px;
}
}
@media screen and (max-width:991px) and (min-width:320px) {

    .one{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        height: 600px;
        width: 100%;
        margin-left: 40px;
       
    }
    img{
        width: 230px;
        height: 80px;

    }
    .first{
        box-shadow: 10px;
        border-radius:30px;
        width: 230px;
        height: 180px; 
    }
    h4{
        font-size: 14px;
        padding-left: 20px;
        width: 400px;
      
    }
    
    p{
        font-size: 14px;
        padding-left:22px;
       
    }
    h1{
     /* height: 93px;
    width: 905px; */
    margin-left: 100px;
    /* top: 3246px; */
    font-size: 20px;
    
    
    }
    .text-last p{
        margin-top: -15px;
    }   
}
@media screen and (max-width:1279px) and (min-width:992px) {

    .one{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 300px;
       
    }
    img{
        width: 280px;
        height: 100px;

    }
    .first{
        box-shadow: 10px;
        border-radius:30px;
        width: 280px;
        height: 220px;
      
       
    }
    h4{
        font-size: 16px;
        padding-left: 20px;
        width: 400px;
      
    }
    
    p{
        font-size: 15px;
        padding-left:22px;
       
    }
    h1{
     /* height: 93px;
    width: 905px; */
    margin-left: 100px;
    /* top: 3246px; */
    font-size: 24px;
    
    
    }
    .text-last p{
        margin-top: -15px;
    }   
}
