@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Courier+Prime&family=Lexend+Deca:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Outfit:wght@200;300&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Courier+Prime&family=Lexend+Deca:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Outfit:wght@200;300&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&family=Secular+One&display=swap');

*{
    padding: 0;
}

.section-4{ 
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;

    width: 1280px;
    background-color: #EFEFEF; 
} 
.user{ 
    display: flex; 
     
} 
.information{ 
    font-family: 'Roboto', sans-serif; 
    background: #FFFFFF; 
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25); 
    border-radius: 30px; 
    width: 800px;
     padding-left: 30px;
} 
h3{ 
    font-family: 'Roboto Slab', serif; 
 
}
h2{
    padding-left: 20px;
    font-size: 50px;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 55px;

}
p{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
    width: 720px;
}
.name{
    padding-bottom: 100px;
    padding-left: 40px;
    padding-top:20px;
}
 
@media screen and (max-width:991px) and (min-width:320px) {
    .section-4{
    }
    h2{
        font-size: 55px;
        width: 40%;
    }
    .information{
        width: 65%;
        height: 550px;
    }
    p{
        font-size: 27px;
        width: 90%;
        padding-left: 25px;
        padding-top: 50px;
    }
    .name{
        padding-left: 50px;
    }
    .image{
        padding-left: 20px;
    }
    .user{
       
    }
} 
@media screen and (max-width:1279px) and (min-width:992px) {
    .section-4{
        background-color: rgb(45, 112, 112);
        padding-left: 90px;
    }
    
    h2{
        font-size: 43px;
    }
    .information{
        width: 60%;
        
    }
    h3{
        font-size: 28px;
    }
}