@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.blue{
    color: black;
    background-color: #9DC9C8;
    height: auto;
    padding-top:60px ;
    padding-left: 100px;
    padding-bottom: 100px;
}
.blue-title{
margin-top: 50px;
font-size: 70px;
font-weight: bold;
}
.ctoimost{
    font-size: 20px;
    font-weight: 400;
}
.rubl{
    padding-bottom: 50px;
  font-size: 80px; 
}
.blue-text{
    display: flex;
    width: 100%;    
}
.blue-text1-title, .blue-text2-title{
    margin-bottom: 10px;
    font-size: 24px;
    width: 50%;
}
.blue-text1-title{
    width: 100%;
}
.blue-text2-title{
    width: 100%;
}
.blue-text1{
    padding-right: 30px;
    font-size: 15px;
    width: 30%;
}
.blue-text2{
    padding-right: 30px;
    font-size: 15px;
    width: 25%;
}
.blue-text1-text{
    width: 300px;
}
.blue-text2-text{
    width: 290px;
}
.footer{
    color: white;
    height: 300px;
    background-color: black;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-footer{
    width: 67%;
    padding: 3%;
    padding-left: 10%;
}
.logo-footer{
 width: 100px;   
}
.social-media{
    display: flex;
}
.social-media-icons{
    width: 25px;
    padding-top: 30px;
    padding-right: 20px;
}
.copyright{
    padding-left: 10%;
    padding-top: 4%;
    font-weight: 400;
    font-size: 14px;
}
.right-footer{  
    width: 33%;
    padding-top: 5%; 
    font-weight: 400;
    font-size: 14px;
  }
.phone{
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .mail{
    width: 58%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
.phone-icon, .mail-icon{
      width:24px;
  }
  @media screen and (min-width:992px) and (max-width:1279px){
    .blue{
        color: black;
        background-color: #9DC9C8;
        height: auto;
        padding-top:60px ;
        padding-left: 100px;
        padding-bottom: 100px;
    }
    .blue-text{
        display: flex;
        justify-content: space-around;
        width: 80%; 
        margin-left: -72px;   
    }
    .blue-text1-text{
    width: 300px;
}
.blue-text2-text{
    width: 290px;
}
.blue-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 27px;
}  
.phone{
    width: 63%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .mail{
    width: 73%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  }
   /* mobile */
@media screen and (min-width:320px) and (max-width:991px) {
 .blue{
        color: black;
        background-color: #9DC9C8;
        height: auto;
        padding-top:60px ;
        padding-left: 40px;
        padding-bottom: 100px;
    }
    
    .blue-title{
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    width: 75%;
    }
    .blue-text{
        display: flex;
        justify-content: space-between;
        width:75%; 
    }
    .ctoimost{
        font-size: 16px;
        font-weight: 400;
    }
    .rubl{
        padding-bottom: 50px;
        font-size: 30px; 
    }

    .blue-text1-title, .blue-text2-title{
        margin-bottom: 10px;
        font-size: 12px;
    }
    .blue-text1-title{
        width: 200px;
    }
    .blue-text1-text{
        width: 100%;
        /* width: 100%; */
    }
    .blue-text2-text{
        width: 100%;
    }
    .blue-text1{
        padding-right: 30px;
        font-size: 12px;
        width: 50%; 
    }
    .blue-text2{
        padding-right: 30px;
        font-size: 12px;
        width: 50%; 
    }
    .footer{
        color: white;
        height: fit-content;
    background-color: black;
    }
    .footer-section{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
       
    }
 .logo-footer{
     width: 100px;  
     padding: 20px;  
    }
    .social-media{
        display: flex;
        justify-content: space-around;
        width: 150px;
        margin-left: 25px;
    }
    .social-media-icons{
        width: 20px;
        height: 20px;
    }
    .copyright{
        margin-left: 18px;
        font-weight: 400;
        font-size: 14px;
        width: 67%;
        padding-bottom: 10px;
    }

    .right-footer{  
        /* width: 150px;
        padding-left: 120px;
        padding-top: 40px;
        font-size: 14px; */
        width:150px;
        padding: 3%;
        padding-left: 10%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
      }
      .left-footer{
        width:150px;
        padding: 3%;
        padding-left: 10%;
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
      .phone-icon{
        width: 20px;
        height: 20px;  
      }
      .phone{
        width: 150px;
        display: flex;
        padding-bottom: 20px;
        margin-left: 18px;
    justify-content: space-around;
      }
      .mail{
        width: 100%;
        display: flex;
        margin-left: 30px;    
      }
   
    }