@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Desktop mode baslangic */

.header {
    width: 7.8%;
    height: 4.6%;
    margin-left: 8.4%;
    margin-top: 1.5%;

}



.linkler {
    display: flex;
    margin-top: 6.7%;
    margin-left: 8.4%;
}

.link {
    margin-right: 2.8%;
}

/* 1-ci konteynerin baslangici */

.container {
    display: flex;
    margin-left: 8.4%;
    margin-top: 2%;
}


.wrap1 {
    min-width: 43.6%;
    height: 13.2%;
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 81.11px;
    margin-bottom: 2.15%;
}

.wrap2 {
    min-width: 28.7%;
    height: 4.3%;
    margin-top: 22%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.man {
    width: 21.2%;
    height: 26.1%;
    margin-top: 1%;
    margin-left: 9.7%;

}



.square {
    width: 33.6%;
    height: 14%;
    margin-top: 4.7%;
    margin-left: 28.4%;
    border-radius: 5px;
}

/* 1-ci konteynerin sonu */

/* 2-ci konteynerin baslangici */

.container2 {
    width: 100%;
    display: flex;
}

.content2Left {
    width: 57%;
    margin-left: 8.4%;
}

.kurs {
    width: 25.3%;
    height: 6.4%;
    margin-top: 15%;
    margin-bottom: 4.5%;
}

.aboutkurs {
    min-width: 47%;
    height: 25.9%;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}



.content2Right {
    width: 21.4%;
    height: 19.9%;
    margin-top: 14%;

}

/* 2-ci konteynerin sonu */


/* 3-ci konteynerin baslangici */

.container3 {
    display: flex;
    align-items: center;
    margin-left: 8.4%;
}

.content1 {

    width: 16%;
    height: 15%;
}



.content2 {
    display: flex;
    padding-left: 9.1%;
}

.one {
    padding-left: 9.1%;
}

.two {
    padding-left: 6.5%;
}

.three {
    padding-left: 6.5%;
}

.oneHeader {
    width: 150px;
    height: 39px;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: -20px;

}

.oneBody {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.twoHeader {
    width: 150px;
    height: 39px;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: -20px;

}

.twoBody {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.threeHeader {
    display: none;
    width: 150px;
    height: 39px;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: -20px;

}


.threeBody {
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 62px;


}


/* 3-ci konteynerin sonu */

/* Desktop mode sonu */

@media screen and (min-width: 992px) and (max-width: 1279px) {


    .threeHeader {
        display: flex;
        width: 150px;
        height: 39px;
        font-family: 'Roboto';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: -63px;

    }


    .threeBody {
        width: 150px;
        height: 39px;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;


    }

}

@media screen and (min-width: 660px) and (max-width: 991px) {

    body {
        margin: 0;
        padding: 0;
    }

    .header {
        width: 7.8%;
        height: 4.6%;
        margin-left: 8.4%;
        margin-top: 7%;

    }

    .linkler {
        display: flex;
        margin-top: 7%;
        margin-left: 8.4%;
    }


    .container {
        display: flex;
        flex-direction: column;
    }

    .wrap1 {
        display: inline;
        width: 100%;
        height: 13.2%;
        font-family: 'Roboto Slab', serif;
        font-size: 435%;
        font-weight: 700;
        /* line-height: 81.11px; */
        margin-bottom: 2.15%;
    }

    .wrap2 {
        width: 80%;
        height: 4.3%;
        margin-top: 5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
    }

    .man {
        width: 21.2%;
        height: 26.1%;
        margin-top: -2%;
        margin-left: 49%;

    }

    .square {
        width: 33.6%;
        height: 14%;
        margin-top: 15%;
        margin-left: 8.4%;
        border-radius: 5px;
    }

    .container2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .content2Left {
        width: 100%;
        margin-left: 8.4%;
    }

    .kurs {
        width: 25.3%;
        height: 6.4%;
        margin-top: 33%;
        margin-bottom: 7.5%;
    }

    .aboutkurs {
        min-width: 47%;
        height: 25.9%;
        font-family: 'Roboto';
        font-size: 17px;
        font-weight: 400;
        line-height: 36px;
    }

    .photoBody {
        width: 170px;
        height: 160px;
    }

    .content2Right {
        width: 11.8%;
        height: 11.1%;
        margin-top: -5%;
        margin-left: 12%;

    }

    .container3 {
        display: flex;
        align-items: center;
        margin-left: 8.4%;
    }

    .content1 {
        display: none;
        width: 16%;
        height: 15%;
    }

    .content2 {
        display: flex;
        flex-wrap: wrap;
    }

    .one {
        padding-left: 0;
    }

    .two {
        padding-left: 6.5%;
    }

    .three {
        padding-left: 0;
    }


    .threeHeader {
        display: flex;
        width: 150px;
        height: 39px;
        font-family: 'Roboto';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: -63px;

    }


    .threeBody {
        width: 150px;
        height: 39px;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;


    }




}


@media screen and (min-width: 320px) and (max-width: 660px) {


    body {
        margin: 0;
        padding: 0;
        min-width: 320px;
    }

    .header {
        width: 7.8%;
        height: 4.6%;
        margin-left: 8.4%;
        margin-top: 8%;

    }

    .linkler{
        min-width: 90%;
    }

    .link1{
        width: 90%;
    }

    .link{
        width: 100%;
        /* margin-right: 35px; */
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .wrapper{
        display: block;
        width: 100%;
    }

    .wrap1 {
        width: 100%;
        font-family: 'Roboto Slab', serif;
        font-size: 259%;
        font-weight: 700;
        margin-bottom: 2.15%;
        line-height: 60px;
        margin-left: -8px;
    }

    .wrap2 {
        width: 80%;
        height: 4.3%;
        margin-top: 5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 30px;
    }

    .man1 {
        width: 141.68px;
        height: 175.1px;
        margin-top: -65%;
        margin-left: 100px;

    }

    .square{
        margin-left: 8.4%;
    }

    .square1 {
        width: 225px;
        height: 93px;
        margin-top: 15%;
        border-radius: 5px;
    }

    .kurs1{
        width: 110px;
        height: 43px;
        margin-top: -25px;
    }

    .aboutkurs {
        min-width: 47%;
        height: 25.9%;
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: 400;
        line-height: 27px;
    }

    .content2Right1{
        width: 170px;
        height: 160px;
        margin-left: 100%;
        margin-top: -58%;
    }

    
    .container2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .content2Left {
        width: 100%;
        margin-left: 8.4%;
    }

    .photoBody {
        display: none;
    }

    .content2{
        display: flex;
        flex-wrap: wrap;
        margin-left: -115px;
    }

    .threeHeader{
        display: block;
    }

    .threeBody{
        margin-top: 20px;
    }

    .one{
        width: 40%;
        margin-right: 20px;
        
    }

    .two{
        width: 100px;
        padding-left: 0;
    }

    .three{
        width: 100px;
        margin-left: 1%;
    }


}