@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media screen and (min-width:1280px) {
    
    /* header */
  
    header .logo {
        margin-left: 79px;
        display: flex;
        align-items: center;
        height: 130px;
    }

    header .three-line {
        display: flex;
        justify-content: space-evenly;
        width: 650px;

    }

    header .three-line .globe-text{
        display: flex;
        justify-content: space-between;
        width: 123px;
        height: 40px;
        align-items: center;
    }
    header .three-line .clock-text{
        display: flex;
        justify-content: space-between;
        width: 98px;
        height: 40px;
        height: 40px;
        align-items: center;
    }
    header .three-line .calendar-text{
        display: flex;
        justify-content: space-between;
        width: 113px;
        height: 40px;
        align-items: center;
    }
    header .texts-img {
        display: flex;
        justify-content: space-around;
        width: 1200px;
    }

    header .three-line img {
        width: 22px;
        height: 21px;
    }

    header .title-text {
        width: 600px;
    }

    header .title-text h1 {
        font-size: 80px;
        font-family: 'Roboto Slab';
        margin-top: 30px;
    }

    header .title-text p {
        font-size: 20px;
        width: 420px;
        margin-top: 30px;
        font-family: 'Roboto';
        line-height: 32px;
    }

    header .img-noroot img {
        width: 304px;
        height: 356px;
    }

    header .blue-box {
        width: 483px;
        height: 200px;
        background-color: #1E4681;
        border-radius: 5px;
        margin-left: 385px;

    }

    header .blue-box p {
        font-size: 25px;
        color: white;
        width: 90%;
        padding-left: 20px;
        padding-top: 22px;
        font-family: 'Roboto Slab';
        line-height: 29px;
    }

    header .blue-box .author {
        display: flex;
        justify-content: end;
        width: 440px;
        font-size: 20px;
    }

    /* section1 */
    .section1{
        margin-top: 124px;
    }
    .section1 .title1 h1 {
        font-size: 55px;
        margin-left: 80px;
        font-family: 'Roboto Slab';
        font-weight: 700,bold;
    }

    .section1 .texts-img {
        display: flex;
        justify-content: space-around;
        width: 1280px;
    }

    .section1 .texts-img .text {
        width: 649px;
    }

    .section1 .texts-img .text p {
        font-size: 24px;
        line-height: 38px;
        font-family: 'Roboto';
        margin-top: 40px;

    }

    .section1 .boxes {
        display: flex;
        justify-content: space-between;
        width: 1280px;
        height: 260px;
        align-items: center;
    }
    .section1 .boxes  .img-2 img{
        margin-left: 90px;
    }
    .section1 .boxes .total-texts {
        display: flex;
        justify-content: space-around;
        width: 44%;
        align-items: center;
       
    }

    .section1 .boxes .texts h4 {
        font-size: 24px;
        display: flex;
        align-items: center;
        height: 60px;
    }

    .section1 .boxes .texts p {
        width: 130px;
        font-size: 18px;
        line-height: 24px;
    }

    .section1 .boxes-2 {
        display: flex;
        justify-content: space-around;
        width: 1280px;
    }

    .section1 .format h1 {
        font-size: 55px;
        margin-left: 83px;
        font-family: 'Roboto Slab';
        font-weight: 700,bold;
        line-height: 124px;
    }

    .section1 .boxes-2 .texts-2 {
        width:250px;
    }

    .section1 .boxes-2 .texts-2 h4 {
        font-size: 24px;
        color: #1E4681;
        line-height: 63px;
        font-family: 'Roboto';
    }

    .section1 .boxes-2 .texts-2 p {
        font-size: 18px;
        font-family: 'Roboto';
        line-height: 23px;
       
    }

    /* section-2 */
    .section-2 {
        margin-top: 140px;
    }

    .section-2 h1 {
        font-size: 55px;
        margin-left: 83px;
        font-family: 'Roboto Slab';
        line-height: 130px;
    }

    .section-2 nav {
        margin-left: 72px;
       
    }

    .section-2 nav ul {
        line-height: 50px;
        font-size: 24px;
        width: 662.88px;
        font-family: 'Roboto Slab';
        font-weight:400;
    }
    /* section-3 */
    .section-3 h1 {
        font-size: 55px;
        margin-left: 83px;
        line-height: 55.76px;
        margin-top: 121px;
        height: 130px;
        font-family: 'Roboto Slab';
        font-weight: 700;
    }

    .section-3 .boxes {
        display: flex;
        justify-content: space-around;
        height: 350px;
        align-items: center;
    }

    .section-3 .boxes .box-1 {
        box-shadow: 0 0 10px;
        border-radius: 30px;
        width: 350px;
        height: 320px;

    }

    .section-3 .boxes .box-1 img {
        width: 350px;

    }

    .section-3 .boxes .box-1 h4 {
        font-size: 30px;
        line-height: 39px;
        padding-left: 20px;
        margin-top: 18px;
        font-weight: bold;
    }

    .section-3 .boxes .box-1 p {
        font-size: 25px;
        line-height: 25.5px;
        padding-left: 24px;
        margin-top: 16px;
        height: 90px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
    }

    .section-3 .boxes .box-1 .last {
        margin-top: -20px;
        margin-left: -4px;
    }

    .section-3 .boxes .last-box {
        box-shadow: none;
    }

    /* .section-3 .boxes .box-1 .last-title{
    padding-top: 14px; */
    /* section-4 */
    .section-4 {
        background-color: #EFEFEF;
        height: 800px;

    }

    .section-4 .all {
        background-color: #EFEFEF;
        background-size: cover;
        background-clip: border-box;
    }

    .section-4 h1 {
        font-size: 55px;
        line-height: 99.76px;
        margin-left: 83px;
        padding-top: 130px;
        font-family: "Roboto Slab";
        font-weight: 700;
    }

    .section-4 .about {
        width: 791px;
        height: 431px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        margin-left: 83px;
    }

    .section-4 .about p {
        font-size: 20px;
        width: 85%;
        line-height: 29px;
        font-family: "Roboto";
    }

    .section-4 .about .author {
        display: flex;
        width: 92%;
        align-items: center;

    }
    .section-4 .about .author  .img-auth img{
        width: 120px;
        height: 110px;
    }
    .section-4 .about .author .name-auth h4 {
        font-size: 27px;
        line-height: 60px;
        font-weight: bold;
        font-family: "Roboto";
    }
    .section-4 .about .author .name-auth img{
        background-color: #1E4681;
        border-radius:3px;
        width: 20px;
        height: 20px;
    }
    /* footer */
    .footer {
        background-color: #9DC9C8;
        margin-top: -36px;

    }

    .footer .first-box h1 {
        font-size: 55px;
        line-height: 76.76px;
        margin-left: 83px;
        padding-top: 100px;

    }

    .footer .first-box .p1 {
        font-size: 25px;
        margin-left: 83px;
    }

    .footer .first-box h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 25.38px;
        margin-left: 83px;
    }

    .footer .first-box .texts {
        display: flex;
        justify-content: space-evenly;
        width: 820px;
        height: 300px;

    }

    .footer .first-box .texts .text-1 .first-text {
        font-size: 25px;

    }

    .footer .first-box .texts .text-1 .sec-text {
        font-size: 18px;


    }
    .footer .first-box h2{
        line-height: 191px;
    }
    .footer .first-box .texts .text-1{
        line-height: 24px;
        
    }
    .footer .first-box .texts .text-1 .sec-2 {
        width: 282.6px;
        padding-top: 20px;
    }

    .footer .first-box .texts .text-1 .sec-1 {
        width: 283.6px;
        padding-top: 20px;
    }

    .footer .sec-box {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        height: 280px;
        justify-content: center;

    }

    .footer .sec-box .logo-text {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        height: 530px;
        padding-top: 70px;
    }

    .footer .sec-box .logo-text .img1 {
        margin-left: 83px;
    }

    .footer .sec-box .mail-text p {
        color: white;
        font-size: 25px;
      

    }
    .footer .sec-box .mail-text{
        margin-top: 20px;
    }
    .footer .sec-box .mail-text .div-1 {
        display: flex;
        justify-content: space-evenly;
        width: 300px;
        height: 40px;
        align-items: center;
    }

    .footer .sec-box .mail-text .div-2 {
        display: flex;
        justify-content: space-evenly;
        width: 310px;
        height: 40px;
        align-items: center;

    }

    .footer .sec-box .mail-text img {
        width: 27px;
        height: 27px;
    }

    .footer .sec-box .icons {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        padding-left: 54px;

    }

    .footer .sec-box .copyright {
        font-size: 18px;
        color: white;
        margin-left: 77px;
        padding-top: 40px;

    }
}

@media screen and (min-width:320px) and (max-width:991px) {
   
    header .logo {
        margin-left: 30px;
        display: flex;
        align-items: center;
        height: 100px;
       

    }

    header .logo img {
        width: 53px;
        height: 30px
    }

    header .three-line {
        display: flex;
        justify-content: space-evenly;
        width:88%;
        margin-left: 25px;

    }

    header .three-line .globe-text {
        display: flex;
        /* justify-content: space-evenly; */
        height: 30px;
        width: 32%;
        align-items: center;

    }

 header .three-line  .clock-text{
        display: flex;
        /* justify-content: space-evenly; */
        height: 30px;
        width: 32%;
        align-items: center;

    }
    header .three-line  .calendar-text{
        display: flex;
        /* justify-content: space-evenly; */
        height: 30px;
        width: 33%;
        align-items: center;
       

    }
    header .three-line 
    .calendar-text p {
        font-size: 12px;
        margin-left: 6px;
        width: 140px;
    }
    header .three-line 
    .globe-text p{
        margin-left: 3px;
        font-size: 12px;
    }
    header .three-line 
    .clock-text p{
        margin-left: 6px;
        font-size: 12px;
    }
    header .texts-img {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 59px;

    }

    header .three-line img {
        width: 13px;
        height: 13px;
    }

    header .title-text {
        margin-left: -30px;
      
    }

    header .title-text h1 {
        font-size: 37px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        font-style: normal;
        line-height: 45px;
      

    }

    header .title-text p {
        font-size: 11px;
        width: 200px;
        margin-left: 3px;
        margin-top: 20px;
        line-height: 15px;
    }

    header .img-noroot {
        display: flex;
        justify-content: end;
        width: 68%;
        margin-left: 30px;
    }

    header .img-noroot img {
        width: 141px;
        height: 165px;
    }
    header .blue{
        margin-left: -74px;
        margin-top: 10px;
    }
    header .blue-box {
        width: 198px;
        height: 86px;
        background-color: #1E4681;
        border-radius: 3px;
        margin-top: 15px;
        margin: auto;

    }

    header .blue-box p {
        font-size: 11px;
        color: white;
        width: 184px;
        padding-left: 10px;
        padding-top: 10px;
        line-height: 14.3px;
        font-family: 'Roboto';
        
    }

    header .blue-box .author {
        display: flex;
        justify-content: center;
        width:220px;
        font-size: 10px;
        margin-top: -13px;
        font-family: "Roboto";
    }



    /* section1 */
    /* .section1 .title1{
        margin: auto;
    } */
    .section1 .title1 h1 {
        font-size: 26px;
        margin-left: 30px;
        font-family: 'Roboto Slab';
        margin-top: 80px;
        line-height: 65px;
        font-weight: bold;

    }

    .section1 .texts-img {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .section1 .texts-img .img-1 {
        display: flex;
        justify-content: center;   
    }

    .section1 .texts-img .img-1 img {
        width: 146px;
        height: 146px;
    }
    .section1 .texts-img .text p {
        font-size: 14px;
        line-height: 18px;
        font-family: 'Roboto';
        width:80%;
        margin-left: 30px;

    }

    .section1 .boxes {
        display: flex;
        justify-content: space-around;
        height: 250px;
        width: 73%;
        align-items: center;
        flex-direction: column;
    }

    .section1 .boxes .total-texts {
        display: flex;
        justify-content: space-around;
        width: 75%;


    }

    .section1 .boxes .texte {
        margin-top: -120px;
    }

    .section1 .boxes .total-texts .texts {
        width: 74px;
    }

    .section1 .boxes .texts h4 {
        font-size: 12px;
        font-weight: bold;
        line-height: 30px;
        font-family: 'Roboto';
    }
    .section1 .boxes .texts{
        margin: auto;
    }
    .section1 .boxes .texts p {
        font-size: 10px;
        line-height: 12px;
        font-family: 'Roboto';
        width: 85px;
    }

    .section1 .boxes-2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 24px;
        /* width:97%; */
        height: 270px;
    }

    .section1 .format h1 {
        font-size: 26px;
        margin-left: 34px;
        font-family: 'Roboto Slab';
        font-weight: bold;
        line-height: 60px;

    }

    .section1 .boxes .img-2 {
        display: none;
    }

    .section1 .boxes-2 .texts-2  h4 {
        font-size: 12px;
        color: #1E4681;
        line-height: 26px;
        font-weight: bold;
        font-family: 'Roboto';
        margin-left: 10px;
      
    }
    .section1 .boxes-2 .texts-2 p {
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 16px;
        width: 66%;
        margin-left: 10px;
       
    }
   
    /* section-2 */
    .section-2 {
        margin-top: 70px;
    
    }

    .section-2 h1 {
        font-size: 26px;
        /* margin-left: 34px; */
        font-family: 'Roboto Slab';
        font-weight: 700;
        line-height: 60px;
        margin-left: 30px;
    }

    .section-2 nav ul {
        line-height: 20px;
        font-size: 11px;
        font-family: 'Roboto';
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style:disc;
        margin-left: 30px;
    }

    /* section-3 */
    .section-3 {
        margin-top: 70px;
    
    }
    .section-3 h1 {
        font-size: 26px;
        margin-left: 34px;
        line-height: 26px;
        margin-top: 121px;
        height: 100px;
        width: 250px;
        font-family: "Roboto Slab";
        font-weight: 700;
    }

    .section-3 .boxes {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 550px;
        align-items: center;
        margin-left: -10px;
    }

    .section-3 .boxes .box-1 {
        box-shadow: 0 0 5px;
        border-radius: 14px;
        width: 195px;
        height: 153px;
        margin-top: -95px;

    }

    .section-3 .boxes .box-1 img {
        width: 195px;

    }

    .section-3 .boxes .box-1 h4 {
        font-size: 14px;
        line-height: 18px;
        padding-left: 20px;
        margin-top: 6px;
        font-family: "Roboto Slab";
        font-weight: 700;

    }

    .section-3 .boxes .box-1 p {
        font-size: 12px;
        line-height: 14.5px;
        padding-left: 24px;
        margin-top: -20px;
        height: 90px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
    }

    .section-3 .boxes .box-1 .last {
        margin-top: -32px;
        margin-left: -4px;
    }

    .section-3 .boxes .last-box {
        box-shadow: none;
    }

    /* section-4 */
    .section-4{
        margin-top: -170px;
        position: relative;
        background-color: red;
    }
    .section-4 .all {
        background-color: #EFEFEF;
        background-size: cover;
        height: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


    .section-4 h1 {
        font-size: 26px;
        line-height: 29.76px;
        margin-left: 34px;
        padding-top: 30px;
        font-family: "Roboto Slab";
        font-weight: 700;
        width: 270px;

    }

    .section-4 .about {
        width: 283px;
        height: 218px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        margin-top: 20px;

    }

    .section-4 .about p {
        font-size: 9px;
        font-family: 'Roboto';
        font-weight: 400;
        width: 240px;
        line-height: 13px;
    }

    .section-4 .about .author {
        display: flex;
        width: 285px;
    }

    .section-4 .about .author .img-auth img {
        width: 76px;
        height: 70px;
    }

    .section-4 .about .author .name-auth h4 {
        font-size: 14px;
        line-height: 43px;
    }

    .section-4 .about .author .name-auth img {
        background-color: #1E4681;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        margin-top: -12px;
    }

    /* footer */
    .footer {
        background-color: #9DC9C8;
        margin-top: -17px;

    }

    .footer .first-box h1 {
        font-size: 26px;
        line-height: 30px;
        /* margin-left: 34px; */
        padding-top: 60px;
        width: 80%;
        font-family: "Roboto Slab";
        font-weight: 700;
       margin: auto;

    }

    .footer .first-box .p1 {
        font-size: 12px;
        margin-left: 10%;
        font-family: "Roboto ";
        font-weight: 400;
        line-height: 27px;
        
    }

    .footer .first-box h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 37px;
        line-height: 69px;
        width:57%;
        margin-left: 10%;
    }

    .footer .first-box .texts {
        display: flex;
        justify-content: space-between;
        width:62%;
        height: 140px;
        margin-left: 10%;
    }

    .footer .first-box .texts .text-1 .first-text {
        font-size: 12px;
        font-family:'Roboto';
        font-weight: 400;
        line-height: 19px;
        /* margin-left: -25px; */


    }

    .footer .first-box .texts .text-1 .sec-text {
        font-size: 9px;
        width: 129px;
        font-family:'Roboto';
        /* margin-left: -25px; */
        margin-top: 5px;

    }

    .footer .sec-box {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;

    }

    .footer .sec-box .logo-text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 300px;
        align-items: center;
        height: 500px;
        padding-top: 20px;
    }

    .footer .sec-box .logo-text .img1 {
        margin-left: -159px;
    }

    .footer .sec-box .logo-text .img1 img {
        width: 55px;
        height: 35px;
    }

    .footer .sec-box .mail-text {
        margin-left: -214px;

    }

    .footer .sec-box .mail-text p {
        color: white;
        font-size: 12px;
        font-family: 'Roboto';

    }

    .footer .sec-box .mail-text .div-1 {
        display: flex;
        justify-content: space-between;
        width: 120px;
        height: 30px;
        align-items: center;
        margin-top: -90px;
        position: absolute;
    }

    .footer .sec-box .mail-text .div-1 img {
        width: 12px;
        height: 12px;

    }

    .footer .sec-box .mail-text .div-2 {
        display: flex;
        justify-content: space-between;
        width: 130px;
        height: 30px;
        align-items: center;
        margin-top: -60px;
        position: absolute;
    }

    .footer .sec-box .mail-text .div-2 img {
        width: 12px;
        height: 12px;
    }

    .footer .sec-box .mail-text img {
        width: 27px;
        height: 27px;
    }

    .footer .sec-box .icons {
        display: flex;
        justify-content: space-evenly;
        width: 130px;
        padding-left: 32px;
        margin-top: -80px;
        position: absolute;
      


    }

    .footer .sec-box .icons img {
        width: 15px;
        height: 15px;
    }

    .footer .sec-box .copyright {
        font-size: 11px;
        color: white;
        margin-left: 45px;
        padding-top: -35px;
        font-family: 'Roboto';
        line-height: 22px;

    }
}

@media screen and (min-width:992px) and (max-width:1279px) {
    /* header */

    header .logo {
        margin-left: 79px;
        display: flex;
        align-items: center;
        height: 130px;
    }

    header .logo img {
        width: 65px;
        height: 38px;
    }

    header .three-line {
        display: flex;
        justify-content: space-evenly;
        width: 550px;

    }

    header .three-line p {
        font-size: 12px;
    }

    header .three-line .globe-text{
        display: flex;
        justify-content: space-around;
        width: 84px;
        height: 40px;
        align-items: center;
    }
    header .three-line .clock-text{
        display: flex;
        justify-content: space-around;
        width: 66px;
        height: 40px;
        align-items: center;
    }
    header .three-line .calendar-text{
        display: flex;
        justify-content: space-around;
        width: 78px;
        height: 40px;
        align-items: center;
    }
    header .three-line .calendar-text img {
        width: 14px;
        height: 14px;
    }

    header .three-line .clock-text img {
        width: 14px;
        height: 14px;
    }

    header .three-line .globe-text img {
        width: 14px;
        height: 14px;
    }

    header .texts-img {
        display: flex;
        justify-content: space-around;
        width: 900px;
        height: 200px;
        align-items: center;
    }

    header .three-line img {
        width: 22px;
        height: 21px;
    }

    header .title-text {
        width: 440px;
        height: 100px;

    }

    header .title-text h1 {
        font-size: 46px;
        font-family: 'Roboto Slab';
        line-height: 45px;
        font-weight: 700;
    }

    header .title-text p {
        font-size: 14px;
        width: 290px;
        margin-left: 7px;
        font-family: 'Roboto';
        line-height: 20px;
        display: flex;
        align-items: center;
        height: 100px;
    }

    header .img-noroot img {
        width: 176px;
        height: 206px;
        margin-top: 20px;
    }

    header .blue-box {
        width: 288px;
        height: 125px;
        background-color: #1E4681;
        border-radius: 5px;
        margin-left: 385px;
        font-family: 'Roboto';
        margin-top: 60px;

    }

    header .blue-box p {
        font-size: 14px;
        color: white;
        width: 223px;
        padding-left: 20px;
        padding-top: 15px;
        line-height: 18px;
    }

    header .blue-box .author {
        display: flex;
        justify-content: center;
        width: 370px;
        font-size: 12px;
        line-height: 15px;
        margin-top: -10px;
        font-family: 'Roboto';
    }

    /* section1 */
    .section1 .title1 h1 {
        font-size: 32px;
        margin-left: 77px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        line-height: 100px;
    }

    .section1 .texts-img {
        display: flex;
        justify-content: space-around;
        width: 900px;
        align-items: center;
    }

    .section1 .texts-img .img-1 img {
        width: 181px;
        height: 182px;
    }

    .section1 .texts-img .text {
        width: 378px;
        margin-left: -15px;
    }

    .section1 .texts-img .text p {
        font-size: 14px;
        line-height: 21px;
        font-family: 'Roboto';

    }

    .section1 .boxes {
        display: flex;
        justify-content: space-around;
        width: 940px;
        height: 230px;
        align-items: center;
    }

    .section1 .boxes img {
        width: 134px;
        height: 117px;
        margin-left: 30px;
    }

    .section1 .boxes .total-texts {
        display: flex;
        justify-content: space-around;
        width: 320px;
    }

    .section1 .boxes .texte {
        display: flex;
        justify-content: space-around;
        width: 270px;
        margin-left: -140px;
    }

    .section1 .boxes .texts h4 {
        font-size: 17px;
        font-family: 'Roboto';
        line-height: 60px;
        font-weight: 700;
    }

    .section1 .boxes .texts p {
        width: 110px;
        font-size: 13px;
        height: 10px;
        font-family: 'Roboto';
        line-height: 15px;
        display: flex;
        align-items: center;
        line-height: 15px;
    }

    .section1 .boxes-2 {
        display: flex;
        justify-content: space-around;
    }

    .section1 .format h1 {
        font-size: 32px;
        margin-left: 79px;
        font-family: 'Roboto Slab';
        line-height: 100px;
        font-weight: 700;

    }

    .section1 .boxes-2 .texts-2 {
        width: 194.7px;
    }

    .section1 .boxes-2 .texts-2 h4 {
        font-size: 16px;
        color: #1E4681;
        font-family: 'Roboto';
        line-height: 40px;
        font-weight: 700;

    }

    .section1 .boxes-2 .texts-2 p {
        font-size: 13px;
        font-family: 'Roboto';
        line-height: 15px;
    }

    /* section-2 */
    .section-2 {
        margin-top: 90px;
    }

    .section-2 h1 {
        font-size: 32px;
        margin-left: 86px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        line-height: 78px;


    }

    .section-2 nav {
        margin-left: 98px;

    }

    .section-2 nav ul {
        line-height: 25px;
        font-size: 17px;
        width: 459px;
        list-style: disc;
        font-family: 'Roboto';
        font-weight: 400;
       
    }

    /* section-3 */
    .section-3 h1 {
        font-size: 32px;
        margin-left: 92px;
        line-height: 38.76px;
        margin-top: 121px;
        height: 80px;
        font-family: 'Roboto Slab';
        font-weight: 700;

    }

    .section-3 .boxes {
        display: flex;
        justify-content: space-around;
        height: 270px;
        align-items: center;
    }

    .section-3 .boxes .box-1 {
        box-shadow: 0 0 10px;
        border-radius: 30px;
        width: 271px;
        height: 220px;

    }

    .section-3 .boxes .box-1 img {
        width: 271px;

    }

    .section-3 .boxes .box-1 h4 {
        font-size: 17px;
        line-height: 20px;
        padding-left: 20px;
        font-family: 'Roboto';
        font-weight: 700;
    }

    .section-3 .boxes .box-1 p {
        font-size: 14px;
        line-height: 21.5px;
        padding-left: 24px;
        margin-top: -8px;
        height: 90px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
    }

    .section-3 .boxes .box-1 .last {
        margin-top: -22px;
        margin-left: -4px;
    }

    .section-3 .boxes .last-box {
        box-shadow: none;
    }

    /* .section-3 .boxes .box-1 .last-title{
    padding-top: 14px; */
    /* section-4 */
    .section-4 {
        background-color: #EFEFEF;
        height: 600px;

    }

    .section-4 .all {
        background-color: #EFEFEF;
        background-size: cover;
    }

    .section-4 h1 {
        font-size: 34px;
        line-height: 89.76px;
        margin-left: 92px;
        padding-top: 100px;
        font-family: "Roboto Slab";
        font-weight: 700;
    }

    .section-4 .about {
        width: 484px;
        height: 281px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        margin-left: 86px;
    }
    .section-4 .name-auth{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 100px;
        justify-content: center;
    }
    .section-4 .name-auth img {
        background-color: #1E4681;
        border-radius: 3px;
        width: 18px;
        height: 18px;
    }

    .section-4 .about p {
        font-size: 14px;
        line-height: 20px;
        width: 450px;
        font-family: "Roboto";
    }

    .section-4 .about .author {
        display: flex;
        width: 87%;
 
    }

    .section-4 .about .author .name-auth h4 {
        font-size: 17px;
        line-height: 40px;
        font-family: "Roboto";
    }

    /* footer */
    .footer {
        background-color: #9DC9C8;
        margin-top: -36px;

    }

    .footer .first-box h1 {
        font-size: 32px;
        line-height: 32px;
        margin-left: 83px;
        padding-top: 100px;
        font-family: 'Roboto Slab';
        font-weight: 700;
    }

    .footer .first-box .p1 {
        font-size: 14px;
        margin-left: 83px;
        font-family: 'Roboto';
        line-height: 60px;
    }

    .footer .first-box h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 60px;
        margin-left: 83px;
    }

    .footer .first-box .texts {
        display: flex;
        justify-content: space-evenly;
        width: 643px;
        height: 150px;

    }

    .footer .first-box .texts .text-1 .first-text {
        font-size: 15px;
        font-family: 'Roboto';
        line-height: 40px;
        font-weight: 400;
    }

    .footer .first-box .texts .text-1 .sec-text {
        font-size: 12px;
        font-family: 'Roboto';
        line-height: 13px;
    }

    .footer .first-box .texts .text-1 .sec-2 {
        width: 199px;
        line-height: 13px;
    }

    .footer .first-box .texts .text-1 .sec-1 {
        width: 198px;
    }

    .footer .sec-box {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        height: 280px;
        justify-content: center;


    }

    .footer .sec-box .logo-text {
        display: flex;
        justify-content: space-between;
        width: 900px;
        align-items: center;
        height: 230px;
        padding-top: -20px;
    }

    .footer .sec-box .logo-text .img1 {
        margin-left: 83px;
    }

    .footer .sec-box .mail-text p {
        color: white;
        font-size: 14px;
        font-family: 'Roboto';

    }

    .footer .sec-box .mail-text .div-1 {
        display: flex;
        justify-content: space-evenly;
        width: 210px;
        height: 30px;
        align-items: center;
    }

    .footer .sec-box .mail-text .div-2 {
        display: flex;
        justify-content: space-evenly;
        width: 210px;
        height: 30px;
        align-items: center;
    }

    .footer .sec-box .mail-text img {
        width: 22px;
        height: 15px;
    }

    .footer .sec-box .icons {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        padding-left: 54px;

    }

    .footer .sec-box .icons img {
        width: 22px;
        height: 22px;
    }

    .footer .sec-box .copyright {
        font-size: 12px;
        color: white;
        margin-left: 77px;
        padding-top: 40px;
        font-family: 'Roboto';
        line-height: 40px;

    }
}